<p>add-reservation works!</p>
<p>book-reservation works!</p>
<jqxDateTimeInput
  #myDateTimeInput
  (onChange)="dateOnChange()"
  [width]="250"
  [height]="30"
  [selectionMode]="'range'"
>
</jqxDateTimeInput>
<div
  #log
  style="margin-top: 10px; font-size: 13px; font-family: Verdana;"
></div>
<div>
  <h3>From: {{ display_start }}</h3>
  <h3>From: {{ display_end }}</h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Ár</th>
      <th>Férőhely</th>
      <th>Rövid leírás</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let apartment of apartments">
      <td class="hidden">{{ apartment.id }}</td>
      <td>{{ apartment.price }}</td>
      <td>{{ apartment.num_of_people }}</td>
      <td>{{ apartment.room_description }}</td>
      <td>
        <button
          class="btn btn-info"
          style="width: 150px;"
          (click)="bookApartment(apartment)"
        >
          Foglalás
        </button>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
