<div class="col-md-6 user-container">
    <h2 style="margin: auto;">Felhasználók</h2>
    <button class="btn btn-danger" style="width:150px" (click)="addUser()">Új felhasználó</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>Családnév</th>
          <th>Becenév</th>
          <th>Felhasználónév</th>
          <th>E-mail</th>
          <th>Jogosultság</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td class="hidden">{{ user.id }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button class="btn btn-success" (click)="deleteUser(user)" style="margin-left: 20px;">
              Törlés
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  