
<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container">
    <a class="navbar-brand navbar-expand-lg" href="">Apartmanok Turrachban</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav" routerLink="home">
        
      </ul>
      
      <ul class="navbar-nav ml-auto" routerLinkActive="active">

        <li class="nav-item pr-2">          
          <a class="nav-link" routerLink='home' href="#">Kezdőlap</a>
        </li>
        
        <li *ngIf="!authority"  class="nav-item pr-2">          
          <a class="nav-link" routerLink='auth/register' href="#">Regisztráció</a>
        </li>
        <li *ngIf="!authority" class="nav-item pr-2">
          <a class="nav-link" routerLink='auth/login' href="">Bejelentkezés</a>
        </li>

        <!-- User navbar-->
        <li *ngIf="authority && authority === 'user'" class="nav-item">
          <a class="nav-link" routerLink="user/reservation">Új foglalás</a>
        </li><li *ngIf="authority && authority === 'user'" class="nav-item">
          <a class="nav-link" routerLink="user/list-reservation">Korábbi foglalásaim</a>
        </li>

        <!-- Admin navbar-->
        <li *ngIf="authority && authority === 'admin'" class="nav-item">
          <a class="nav-link" routerLink="admin/apartments">Apartmanok</a>
        </li>
        <li *ngIf="authority && authority === 'admin'" class="nav-item">
          <a class="nav-link" routerLink="admin/reservations">Foglalások</a>
        </li>
        <li *ngIf="authority && authority === 'admin'" class="nav-item">
          <a class="nav-link" routerLink="admin/users">Felhasználók</a>
        </li>
        <br>
        <hr>

        <!-- Logout -->
        <li *ngIf="authority" class="nav-item pr-2">
          <a class="nav-link" routerLink='auth/login' (click)="logout()">Kijelentkezés</a>
        </li>
      </ul>
    </div>
  </div>
</nav>