form{
    width: 500px;
    margin: auto;
    background-color:#fcf9f7 ;
}
.main{
    margin: auto;
}
body{
    padding-top: 30px;
    background-color: #fdf7f2;
    margin-bottom: -200px;
    height: 94%;    
}