/* You can add global styles to this file, and also import other style files */
$primary-green: #17473bf5;
$background: #fdf7f2;

body,
html {
  height: 100%;
  width: 100%;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
