<div class="col-md-6 apartment-container">
  <h2 class="text-center">Apartman szerkesztése</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label for="price">Ár/éjszaka:</label>
      <input
        type="number"
        formControlName="price"
        placeholder="price"
        name="price"
        class="form-control"
        id="price"
      />
    </div>

    <div class="form-group">
      <label for="num_of_people">Férőhely:</label>
      <input
        type="number"
        formControlName="num_of_people"
        placeholder="num_of_people"
        name="Férőhelyek száma"
        class="form-control"
        id="num_of_people"
      />
    </div>

    <div class="form-group">
      <label for="room_description">Rövid leírás az apartmanról:</label>
      <input
        formControlName="room_description"
        placeholder="room_description Name"
        name="room_description"
        class="form-control"
        id="room_description"
      />
    </div>

    <button class="btn btn-success" type="submit" [disabled]="!editForm.valid">
      Szerkesztés
    </button>
  </form>
</div>
